.App {
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.catImages img{
  margin: 10px;
}

.catImages{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid red;
  width: fit-content;
  flex-wrap: wrap;
 
}
